body {
padding: 10px 0 10px;
}

/* Header */
#masthead
{
  margin-top: 10px;
}

#logo {
  margin-left:10px;
  height: 100px;
  width:300;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0 10px 0 70px;
  background: url(../img/logo.png) no-repeat left top;
}

#logo h1, #logo p {
  float: left;
  margin: 0;
  color: #428bca;
}

#logo span {
  min-height: 50%;
  color:  #428bca;
}


#logo h1 {
  padding: 50px 0px 10px 50px;
  letter-spacing: 0px;
  font-weight: 8px;
  font-size: 2.5em;
  line-height: 20px;
}

#logo p {
  text-transform: uppercase;
  padding: 47px 0 0 3px;
  font-size: 10px;
  color: #110E0F;
}

#logo a {
  border: none;
  text-decoration: none;
  color: #8C0209;
}

.seacrh{
  height: 100px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 0 10px 0 70px;
}


.kess {
  height: 56px;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.masthead-nav > li {
  display: inline-block;
  position: relative;
  display: inline-block;
  padding: 17px;
  font-weight: 100;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 17px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #fff;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
.masthead-nav >.masthead-account{
  float: left;
}

.masthead-nav> .search-query {
  padding: 4px 14px;
  margin-top: 12px;
  margin-bottom: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}


@media (min-width: 768px) {
  .masthead-nav{
    float: left
  }
  .masthead-account {
    float: right;
  }
}
------------------------
    About
------------------------
*/
#about {
  padding: 0px 0 0 0;
}
#about h2 {
  margin-top: 40px;
}
#about h2:first-child {
  margin-top: 20px;
}
#about .row {
  margin-bottom: 20px;
}
#about iframe {
  margin-top: 80px;
}

.carousel-control{
  top:50%;
}
.carousel-indicators{
  top:50%;
  padding: 50%;
}
.carousel{
  margin-bottom: 30px
}
.thumbnail{
  text-align: center;
}
.price{
  font-size: 18px;
  margin-left: 10px;
  vertical-align: middle;
}
/*
------------------
    Navigation
------------------
*/
